.projects-container {
    min-height: 100vh;
}

.projects-title {
    text-align: center;
    font-size: 25px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    padding: 0px 10px;
}

a {
    text-decoration: none;
}

.card {
    background-color: rgb(68, 73, 73);
    box-shadow: 5px 5px 10px rgb(199, 70, 52, 0.3);
    flex: 1 1 250px;
    max-width: 310px;
    min-width: 240px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.card p {
    text-align: start;
}

.card h2 {
    color: white;
}

.card:hover {
    scale: 1.05;
    transition: 0.4s ease-in;
    background-color: rgb(68, 73, 73, 0.7);
    box-shadow: none;
}

.card img {
    width: 200px;
    border-radius: 10px;
}

.card ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

li {
    width: 30px;
}

@media(max-width:768px) {

    .projects-container {
        height: auto;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 70px;
        margin-bottom: 50px;

    }

    .card {
        box-shadow: none;
        height: 250px;
        width: 280px;
    }

    .projects-title h1 {
        text-align: center;
        font-size: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
        .projects-container {
        height: auto;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        margin-top: 70px;
        margin-bottom: 50px;

    }
     .card {
        height: 250px;
        width: 280px;
    }
}