.projects-container{
    min-height: 100vh;

}
.projects-title{
    text-align: center;
    font-size: 25px;
}
.cards-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
a{
    text-decoration: none;
}
.card{
    background-color: rgb(108, 137, 156, 0.3);
    max-width: 310px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.card p{
    text-align: start;
}
.card h2{
    color: white;
}

.card:hover{
    scale: 1.05;
    transition: 0.4s ease-in;
    background-color: rgb(108, 137, 156, 0.5);
}
.card img{
    width: 200px;
     border-radius: 10px;
}
.card ul{
    list-style: none;
    display: flex;
    gap: 10px;   
}
li{ 
    width: 30px;
}