.education{
  min-height: 100vh;
  padding-top: 50px;
  color: #C2D4D4;
}

.education-title{
    text-align: center;  
    font-size: 25px;  
    height: 15vh;   
}
.timeline{
    height: 60vh;
    display: flex;
    margin-top: 100px;
    /* border: 2px solid red; */   
}

@media(max-width:768px){
  .education{
    height: auto;
  }
  .education-title h1{
    font-size: 40px;
  }
  .timeline{
    height: auto;
  }
}