.aboutme{
  min-height: 100vh;
  padding-top: 50px;
  color: #C2D4D4;
}

.aboutme-title{
    text-align: center;  
    font-size: 25px;  
    height: 15vh;   
}
.timeline{
    height: 60vh;
    display: flex;
    margin-top: 100px;
    /* border: 2px solid red; */   
}