* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    

}

.landing {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

.landing::before {
    content: "";
    position: absolute;
    inset: 0;
  
    /* grey with 50% opacity */
    z-index: 0;
}

.landing>* {
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

}
.container img{
   width: 300px;
   margin: 0 auto;
}
.text-container {
    background: radial-gradient(circle 150px at center,
            rgba(45, 45, 45, 0.4) 20%,
            rgb(127, 126, 126, 0.05)) 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    color: #C2D4D4;
    /* border: 2px solid red; */
    line-height: 50px;
  
    letter-spacing: -1.5px;
    /* -webkit-text-stroke: 1.2px rgb(110, 105, 105); */
}

.text-container h1 {
    font-size: 2rem;

}

.text-container h2 {

    font-size: 2rem;
}
/* .text-container h2,p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.text-container h1 span {
    font-weight: 800;

}

.text-container h2 span {
    font-weight: 800;

}

.text-container p {
    margin-top: 20px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    /* margin-left: 30px; */
    gap: 10px;
}


.btn-1 {
    background-color: rgb(13, 13, 117);
   border: 1px solid transparent;
    /* border: 0.05px solid #C74634; */
    color: white;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-right: 5px; */
    transition: all 0.8s ease;
}

.btn-1:hover {
    /* background: rgb(11, 11, 255); */
    border: 0.5px solid #C74634;
}

.btn-2 {
    border: 1px solid transparent;
    padding: 11px 13px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-left: 5px; */
    background: rgba(79, 79, 82, 0.6);
    /* border: 0.05px solid  #F0CC72; */
    color:  #eee7d5;
    cursor: pointer;
    transition: all 1s ease;
   
}

.btn-2:hover {
    background: rgba(8, 8, 8, 0.6);
    border:0.05px solid  #F0CC72;
    transition: all 1s ease;
    
}

@media(max-width:768px) {


    .buttons {
        margin: 0;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .container {
        margin: 10px;
    }

    .text-container {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        background: radial-gradient(circle 200px at center,
                rgba(45, 45, 45, 0.4) 40%,
                rgb(127, 126, 126, 0.1))1%;

    }




}