.nav-container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 0.05px solid rgb(48, 47, 47, 0.8);
    position: relative;
    z-index: 1;
  
}
.logo h2{
    font-weight: 600;
    
}

.logo h2:hover{
    color:  rgb(199, 70, 52);
    transition: 0.3s ease-in;
}
.links{
    display: flex;
    justify-content: space-evenly;
    gap: 22px;
}
.links a{
    color: inherit;
    text-decoration: none;
}
.links p {
  position: relative; /* important */
  cursor: pointer;
}
.links p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #C74634;
    transition: width 0.3s ease;
}
.links p:hover::after {
  width: 100%;
}
.links p.active::after {
  width: 100%;
}

.toggle-lang{
    padding-inline: 10px;
    color: white;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 20px;
    border: 0.05px solid rgb(48, 47, 47, 0.8);
}
.toggle-lang:hover{
    border: 1px solid #C74634;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.lines{
    border: 1px solid red;
    display: absolute;
    z-index: 10;
}
.lines p{
    width: 20px;
    color: white;
}

@media(max-width:768px){
    .nav-container{
        border: none;
    }
    .links{
        display: none;
    }
   
}