.timeline-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;

}

.timeline-item:nth-child(odd) {
  transform: translateY(0);
}

.timeline-item:nth-child(even) {
  transform: translateY(90px);
}

.timeline-wrapper::before {
  content: "";
  position: absolute;
  top: 90px;
  /* adjust to align with card centers */
  left: 0;
  width: 100%;
  height: 2px;
  background: #C74634;
  /* or any color */
  z-index: 0;
}

.timeline-item {
  position: relative;
  z-index: 1;
}

.description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.8s ease, max-height 0.6s ease;
}

.timeline-item {
  flex: 1;
}

.timeline-card {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  gap: 15px;
}


.timeline-card:hover .description {
  opacity: 1;
  max-height: 200px;

}

/* .timeline-card:hover .description .hasItems{
  background-color: #454444;
  border-radius: 20px;
  padding: 5px 5px ;
  list-style: none;

} */
.timeline-card .text:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;

}

.timeline-card-5 h4 {
  display: none;

}

.desc-square {
  position: absolute;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 30px;
  top: 300px;
  width: 70%;
  background-color: #444949;
  transition: 0.3s ease-in;
}

.desc-square h2,
p {
  color: white;
  text-align: justify;
}

.desc-square h2 {
  text-decoration: underline;
  margin-bottom: 15px;
  text-align: center;
}

.desc-square ul {
  list-style: none;

}

.desc-square li {
  width: 100%;
  color: white;
  text-align: justify;
}

.closing {
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  margin: 5px;
  cursor: pointer;
  z-index: 10;
}

.closing:hover {
  border: 1px solid rgb(255, 255, 255, 0.5);
}








@media(max-width:768px) {
  .timeline-item {
    flex: none;
    transform: none !important;
  }

  .desc-square {
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 15px;
  }

  .timeline-item:nth-child(even) {
    transform: translateY(90px);
  }

  .timeline-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  h4{
    text-decoration: underline;

  }

  .timeline-wrapper::before {
    display: none;
  }

}

@media ((min-width:768px)and(max-width: 1024px)) {

  .timeline-wrapper {
    flex-wrap: nowrap;
    position: relative;
    

  }

  .timeline-item {
    flex: 1 1 0;
    min-width: 0; 
    
    height:fit-content;
  }

  .desc-square {
    position: absolute;
  }
 
 
}